*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
}

.navbar {
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo img {
    height: 45px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.btn.outline {
    color: #fff;
    border: 1px solid #fff;
}

.btn.filled {
    background-color: #e50914;
    color: #fff;
    border: none;
}



/* banner */
.banner{
    width: 100%;
}
.banner image{
    width: 100%; 
}
.brands{
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
}
.box1{
    width: 20%;
}
.box1 .boximg{
    width: 100%;
}
.box1 .btn{
    width: 100%;
}
